<md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left"
            class="md-whiteframe-z2 md-sidenav-left">
</md-sidenav>
<div layout="column" flex>
    
    <md-toolbar layout="row" layout-align="center center">
        <section layout-align="start center" flex>
        <span><%=sails.config.application.name %><%= ' - v' + sails.config.application.version %></span>  
        </section>
        
        <section layout-align="end center" >
            <md-button class="toolbar-button" aria-label="Search" >
                <md-icon >search</md-icon>
            </md-button>
            <md-button class="toolbar-button" aria-label="Notifications">
                <md-icon >notifications</md-icon>
                <span class="notifications-label">7</span>
            </md-button>
            <md-button class="toolbar-button" aria-label="Settings" ng-click="vm.toggleRightSidebar()">
                <md-icon >menu</md-icon>
            </md-button>
             <md-button class="toolbar-button" aria-label="Settings" ng-href="/signin">
                <md-icon >account_circle</md-icon>
            </md-button>
             <md-button class="toolbar-button" aria-label="Settings" ng-href="/signup">
                <md-icon >person_add</md-icon>
            </md-button>
        </section>
    </md-toolbar>

    <md-content flex class="md-padding page-content">
        <div ui-view></div>
    </md-content>
</div>