<!DOCTYPE html>
<html>
  <head>
    <title>Signin for Activity Overlord (angular)</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-material.css">
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
    <script type="text/javascript">
    window.SAILS_LOCALS = { _csrf: "<%= _csrf %>" };
    </script>

  </head>

  <body ng-app="ngErpSignin" ng-controller="SigninController" ng-cloak>
    <md-toolbar >
        <div class="md-toolbar-tools">
            <span flex></span>
            <!--<md-button  ng-click="wantSignin()" class="md-raised" aria-label="Sign In">
                <span ng-show="!loginForm.loading">Sign in</span>
                <span ng-show="loginForm.loading" class="fa fa-spinner"></span>
                <span ng-show="loginForm.loading">Signing up...</span>
            </md-button>-->

        </div>
    </md-toolbar>
    <div flex layout="row" layout-align="center center">
        <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="md-whiteframe-z2">
            <form ng-submit="submitSignupForm()" id="sign-up-form" class="form-signin" name="signup">
                <h2 class="form-signin-heading"><%= __('create-account-welcome') %></h2>
                <md-content class="md-no-momentum">
                   <md-input-container class="md-block">
                        <label>Your Email address</label>
                        <md-icon class="email">email</md-icon>
                        <input name="email" ng-model="user.email" type="email"  required>
                        <div ng-messages="signup.email.$error"  ng-show="signup.email.$dirty" ng-messages-multiple>
                            <div ng-message="required">This is required.</div>
                            <div ng-message="email">The email is not valide</div>
                        </div>
                    </md-input-container>
                
                    <md-input-container class="md-block">
                        <label>Type your password</label>
                        <md-icon class="email">https</md-icon>
                        <input name="password" ng-model="user.password" type="password"  required  minlength="5" md-maxlength="20">
                        <div ng-messages="signup.password.$error"  ng-show="signup.password.$dirty" ng-messages-multiple>
                            <div ng-message="required">This is required.</div>
                            <div ng-message="minlength">The name must have 5 characters at least</div>
                            <div ng-message="md-maxlength">The name has to be less than 20 characters long.</div>
                        </div>
                    </md-input-container>
                    
                     <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                    <div  layout="row" layout-padding>
                        <md-button  class="md-raised md-primary" ng-disabled="signup.$invalid" >
                            <span ng-show="!signup.loading"  ng-click="submitSignin()">Enter</span>
                            <span class="overlord-loading-spinner fa fa-spinner fa-spin fa-fw" ng-show="signup.loading" ></span>
                            <span ng-show="signup.loading">Checking your account...</span>
                        </md-button>
                    </div>
                </md-content>
                
                
            </form>
        </div>
    </div>
    
    <!--SCRIPTS-->
    <script src="/js/dependencies/000_sails.io.js"></script>
    <script src="/js/dependencies/001_jquery.js"></script>
    <script src="/js/dependencies/002_angular.js"></script>
    <script src="/js/dependencies/angular-animate.js"></script>
    <script src="/js/dependencies/angular-aria.js"></script>
    <script src="/js/dependencies/angular-material.js"></script>
    <script src="/js/dependencies/angular-messages.js"></script>
    <script src="/js/dependencies/angular-toastr.js"></script>
    <script src="/js/dependencies/angular-toastr.tpls.js"></script>
    <script src="/js/dependencies/angular-ui-router.js"></script>
    <script src="/js/dependencies/lodash.min.js"></script>
    <script src="/js/dependencies/sailsResource.js"></script>
    <script src="/js/public/utils.js"></script>
    <script src="/js/public/services/ModelModule.js"></script>
    <script src="/js/public/ngErpModule.js"></script>
    <script src="/js/public/signup/SignupModule.js"></script>
    <script src="/js/public/signin/SigninModule.js"></script>
    <script src="/js/public/homepage/HomepageModule.js"></script>
    <script src="/js/public/directives/button.js"></script>
    <script src="/js/public/homepage/HomepageController.js"></script>
    <script src="/js/public/services/UserService.js"></script>
    <script src="/js/public/signin/SigninController.js"></script>
    <script src="/js/public/signup/SignupController.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>