<div>
  
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <span>Parametres</span>
        </h2>
        <span flex></span>
        <md-button class="md-raised" aria-label="Matieres" ui-sref="home.settings.matieres">
          Matieres
        </md-button>
         <md-button class="md-raised" aria-label="Nuances Matieres" ui-sref="home.settings.nuancesmatieres">
          Nuances Matieres
        </md-button>
      </div>
    </md-toolbar>
   <md-content>
       <ui-view></ui-view>
  </md-content>
<div>